<h1>Payment Calulation</h1>

<form action="http://localhost:3000/payment/results">
  <div>
    <label for="user_apr">APR</label>
    <input id="user_apr" type="text" name="user_apr" value="">
  </div>
  <div>
    <label for="user_years">Number of years</label>
    <input id="user_years" type="text" name="user_years" value="">
  </div>
  <div>
    <label for="user_pv">Principal</label>
    <input id="user_pv" type="text" name="user_pv" value="">
  </div>
  <button type="submit">Calculate monthly payment</button>
</form>
