<h1>Random Calculation</h1>

<form action="http://localhost:3000/random/results">
  <div>
    <label for="user_min">Minimum</label>
    <input id="user_min" type="text" name="user_min" value="">
  </div>
  <div>
    <label for="user_max">Maximum</label>
    <input id="user_max" type="text" name="user_max" value="">
  </div>
  <button type="submit">Pick random number</button>
</form>
