<h1>Word Count Calculation</h1>

<form action="http://localhost:3000/word_count/results">
  <div>
    <label for="user_text">Text</label>
    <input id="user_text" type="text" name="user_text" value="">
  </div>
  <div>
    <label for="special_word">Special Word</label>
    <input id="special_word" type="text" name="special_word" value="">
  </div>
  <button type="submit">Process text</button>
</form>
